@page "/evento1"

<label>Dados de evento : precione a Tecla A para mudar a cor</label>

<div style="background-color: @cor; padding: 50px;"></div>

<input type="text" @onkeypress="@((e) => TeclaPrecionada(e))"/>
@code {
    private string cor = "red";

    private void TeclaPrecionada(KeyboardEventArgs args)
    {
        if(args.Key == "A" || args.Key == "a")
        {
            cor = "blue";
            Console.WriteLine("A tecla foi precionada");
        }
    }
}
