@inject HttpClient http
    <table class="table">
        <thead>
            <tr>
                <th>Ação</th>
                <th>Data</th>
                <th>Descição</th>
                <th>Concluida</th>
            </tr>
        </thead>
        <tbody>
            <ListaGenerica ListaItem="tarefas">
                <Lista Context="tarefa">
                    <TarefaIndividual item="tarefa" removerTarefa="removeTarefa"/>
                </Lista>
            </ListaGenerica>
        </tbody>
    </table>

@if (tarefas != null)
{
    <div class="form-group">
        <label>Tarefa</label>
        <input type="text" placeholder="Informe a tarefa" @bind="novaTarefa" />
        <button class="btn btn-primary" @onclick="AdicionarNovaTarefa">Nova Tarefa</button>
    </div>
}

@code {

    [Parameter] public List<Tarefa> tarefas { get; set; }
    [Parameter] public string titulo { get; set; }

    private void AdicionarNovaTarefa()
    {
        if (!string.IsNullOrWhiteSpace(novaTarefa))
        {
            tarefas.Add(new Tarefa()
            {
                DataCriacao = DateTime.Now,
                Descricao = novaTarefa,
                ID = Guid.NewGuid()
            });

            novaTarefa = "";
        }
    }

    private void removeTarefa(Tarefa terefa)
    {
        tarefas.Remove(tarefas.First(x => x.ID == terefa.ID));
    }

    private string novaTarefa = "";
}